body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.input-group {
    display: grid;
    gap: 5px;
}

#message {
    margin-bottom: 20px;
    font-weight: bold;
}

.card {
    position: relative;
    cursor: pointer;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
}

.trash-button-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;  /* Set bottom to 0 to take the full height */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .trash-button-container {
    opacity: 1;
}

.container .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.trash-button {
    margin-top: auto;
    height: 100%;  /* Set height to 100% to take the full height */
    width: 3.3rem;
}
